{# templates/work_in_progress/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Work in Progress</title>
</head>
<body>
    <h1>Work in Progress</h1>
    <p>Sorry for the inconvenience. We are currently working on this page. Please check back later.</p>
</body>
</html>
