{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2>HOME PAGE</h2>

<p>Ici je vais raconter à quoi sert ce site </p>
Que ce soit pour de l'habitation longue courte ou moyenne durée
<ul>
    <li>Je possède un terrain et je souhaite le mettre à disposition pour de la location, de la vente , des vacances ou weekend</li>
    <li>Je cherche un terrain pour le louer, l'acheter ou y passer un ou plusieurs jours de détente</li>
</ul>

Que ce soit pour des petits travaux ou pour organiser un évenement
<ul>
    <li>Je possède un terrain et j'ai besoin de monde pour intervenir </li>
    <li>Je cherche a offrir mes compétences sur un lieu de vie d'habitat alternatif contre salaire, logement ou autre monaie d'échange</li>
</ul>
    Celà permet également d'organiser des visites des lieux succeptible d'intéresser le public 



Ce site évoluera en fonction des besoins 
{% endblock %}
