{% extends 'base.html.twig' %}

{% block title %}Choix Paiement{% endblock %}

{% block body %}
<div class="donnation"> 
    <h2>Donnation </h2>
    <form action="{{ path('app_paiement-stripe') }}" method="post">
        <label for="sum">Somme choisie:</label>
        <input type="number" id="sum" name="sum" min="1" />
        <input type="hidden" name="token" value="{{ csrf_token('donation_token') }}">
        <button type="submit" id="payButton">Payer</button>
    </form>
</div>
{% endblock %}
